@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://webfontworld.github.io/naver/NanumSquareRound.css');

html {
    scroll-behavior: smooth;
    font-family: 'inter';
    font-size: 16px;
}

body {
    background-color: #f9f9f9;
}

@layer components {
    .main-button {
        @apply block mx-auto w-full text-white bg-blue-04 rounded-xl font-semibold text-center
    }

    .sms-auth__header,
    .sms-auth__footer,
    .sms-auth__wrapper {
        @apply max-w-screen-sm mx-auto min-w-xs
    }

    .sms-auth__header .home-logo, 
    .sms-auth__header .back-icon {
        @apply cursor-pointer
    }
}