@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'inter';
    font-size: 16px;
    line-height: unset;
}

body {
    background-color: #FCFCFD;
}

@layer components {
    .field {
        @apply bg-white border rounded-lg !border-gray-05 shadow-[0px_1px_2px_0px_#1018280D]
    }

    .select {
        @apply field inline-flex cursor-pointer pl-3 pr-14 py-2 text-sm leading-[26px] appearance-none bg-[url('@/assets/icons/select_arrow.png')] bg-no-repeat bg-[length:14px_7px] bg-[right_16px_center]
    }

    .select-options {
        @apply absolute bg-white px-3 border border-gray-05 border-t-0
    }

    .select-options li {
        @apply py-[11px] cursor-pointer
    }

    .input-field {
        @apply field focus:outline-none focus:ring-offset-0 focus:ring-0;
    }

    .radio {
        @apply cursor-pointer w-6 h-6 !border !border-gray-05 text-white !outline-none !ring-offset-0 !ring-0 checked:ring-offset-0 checked:outline-none checked:bg-[url('@/assets/icons/radio.png')] checked:bg-no-repeat checked:bg-[length:20px] checked:bg-[2px_3px]
    }

    .title {
        @apply py-2 text-white bg-main-dark font-medium text-center
    }
}